package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import org.apache.ibatis.annotations.CacheNamespace;
import top.ibase4j.core.support.cache.mybatis.EhcacheRedisCache;
/**
 * <p>
 * Mapper接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@CacheNamespace(implementation=EhcacheRedisCache.class)
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}